<!DOCTYPE html>
<html>
  <head>
    <title>Slickstarter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.usericonUrl = "<%= image_url('usericon.png') %>"
    </script>
    <script type="text/javascript">
      window.heartUrl = "<%= image_url('heart.png') %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
